# Ignore chapters folder
chapters/
novel_urls.txt
pdf_novels/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
.venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore launcher shortcuts (local utilities)
*.lnk